#filter__input{
    display: block; 
    margin: auto; 
    width: 40%
}

#carrito{
    display: none;
    font-size: 13px;
    position: fixed;
    top: 10%;
    right: 10%;
    width: 40%;
    height: auto;
    background-color: white;
    z-index: 1001;
}