#filter__input{
    display: block; 
    margin: auto; 
    width: 40%
}

#carrito{
    display: none;
    position: fixed;
    top: 10%;
    right: 10%;
    width: 30%;
    height: auto;
    background-color: whitesmoke;
    z-index: 1001;
}